__pycache__

test.py

data_img/**
!data_img/placeholder.md
!data_img/josie.jpg

data_rand/**
!data_rand/placeholder.md

data_sg/**
!data_sg/placeholder.md

data_drums/**
!data_drums/placeholder.md

data_txt/**
!data_txt/placeholder.md
!data_txt/input.txt

data_quote/**
!data_quote/placeholder.md
